$primary-color: #3498db;
$body-color: rgba(0, 0, 0, 0.5);
$danger-color: #dc3545;
$warning-color: #ffc107;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$green-color: #2ECC71;
$label-color: darken($primary-color, 10%);